.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnHomePage {
    width: 100%;
    background: #1A8CD8;
    border-color: #1A8CD8;
}

.btnHomePage:hover {
    background-color: rgba(0, 43, 170, 0.773);
    border-color: rgba(0, 43, 170, 0.773);
}

@media only screen and (max-width: 575px) {
    .formContainer {
        width: 95%;
    }
}